@model IEnumerable<Tournament.Models.TournamentTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="width20proc">Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@Html.ActionLink(tournament.Name, "Edit", "Tournament", new { id = tournament.Id }, new { })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Tournament", new { id = tournament.Id }, new { @class = "width20proc" })</td>
            </tr>
        }
    </tbody>
</table>


<button>@Html.ActionLink("create new", "Create", "Tournament")</button>


